html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8ffb0;
  }

#nav-container {
    padding: 70px 0;
}

p, li {
    color: #f8ffb0;
    font-size: 14px;
}

.header, .navbar {
    background-color: #4e5035;
}

.nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
    filter: brightness(0) invert(1);
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

#navbar-links a:hover {
    background-color: #929564;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.form-login {
    min-width: 280px;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 0 1em gold, 0 0 1em black;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login p {
    color: black;
}

h1 {
    text-align: center;
}

textarea {
    resize: none;
}

#menu-buttons a {
    color: black;
    margin-bottom: 10px;
}

.retorna {
  background-color: #4e5035;
  color: white;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline;
  transition: 0.15s;
}

.retorna:hover {
  background-color: #929564;
  text-decoration: none;
  color: white;
}

.status {
    margin-left: 10px;
    color: white;
    padding: 5px;
    background-color: #929564;
    border-radius: 3px;
}